.row-values {
  display: flex;
  flex-direction: column;
}

.report {
  display: flex;
  width: 98%;
  gap: 2rem;
}

.report-card {
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.first-col,
.second-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cashflow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

  p {
    font-size: 1.05rem;
  }
}

.graphic {
  height: fit-content;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buys-col {
  display: flex;
}