.row-values {
  display: flex;
  flex-direction: column;
}

.report {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.report-card {
  width: 48%;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buys-col {
  display: flex;
}